<flutterwave-make-payment
  [public_key]="publicKey"
  amount='10'
  currency='NGN'
  payment_options="card"
  redirect_url=""
  text="Pay Now"
  [customer]="customerDetails"
  [customizations]="customizations"
  [meta]="meta"
  [tx_ref]="generateReference()"
  (callback)="makePaymentCallback($event)"
  (close)="closedPaymentModal()"
></flutterwave-make-payment>

<flutterwave-make-payment
  [data]="paymentData"
></flutterwave-make-payment>



<button (click)="payViaService()">Pay Via Service</button>


<button (click)="payViaPromise()">Pay Via Promise</button>
